<!DOCTYPE html>
<html>

<head>
  <title>Place ID Finder</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link href="../css/index.css" rel="stylesheet" type="text/css">
  <link href="../css/fonts.css" rel="stylesheet" type="text/css">
  <link href="../css/screen.css" rel="stylesheet" type="text/css">

  <div class="mainContainer">
<div class="reviewPopup">
   <div class="reviewContainer">


      <div class="row">

        <div class="dataColumn">
          <div class="dataRow">
            <div class="name">
              Event Name
            </div>
            <div class="time">
              Time
            </div>
            <div class="description">
              description
            </div>
            <div class="stat">
              dsd
            </div>
          </div>
        </div>


      </div>




    </div>
</div>
   
  </div>
  </body>

</html>