<html>

<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width = device-width, initial-scale = 0, user-scalable = no, minimum-scale = 1, maximum-scale = 1">
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />

    <title>dataFetcher</title>
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    <link href="../css/fonts.css" rel="stylesheet" type="text/css">
    <link href="../css/screen.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!--<div class="mainContainer">
        <div class="postOverlay">

        </div>
        <div class="postPopup">
            <div class="column">
                <div class="header">
                <div class="heading">
                    Demo Restaurant Page
                </div>
            </div>
            <div class="contentRow">
            <div class="containerColumn">
                <div class="heading">
                    Date
                </div>
                <div class="content">
                    2017-08-11
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Message
                </div>
                <div class="content">
                   For all those curious soles having absolutely no idea what do in future. This article should help you understand how to upgrade your plan for best results :)

                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Post Type
                </div>
                <div class="content">
                  Status
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Likes
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Comments
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Shares
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Reactions
                </div>
                <div class="content">
                   10
                </div>
            </div>
            
            </div>
            <div class="contentRow">
            <div class="containerColumn">
                <div class="heading">
                    Date
                </div>
                <div class="content">
                    2017-08-11
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Message
                </div>
                <div class="content">
                   For all those curious soles having absolutely no idea what do in future. This article should help you understand how to upgrade your plan for best results :)

                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Post Type
                </div>
                <div class="content">
                  Status
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Likes
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Comments
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Shares
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Reactions
                </div>
                <div class="content">
                   10
                </div>
            </div>
            
            </div>
            <div class="contentRow">
            <div class="containerColumn">
                <div class="heading">
                    Date
                </div>
                <div class="content">
                    2017-08-11
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Message
                </div>
                <div class="content">
                   For all those curious soles having absolutely no idea what do in future. This article should help you understand how to upgrade your plan for best results :)

                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Post Type
                </div>
                <div class="content">
                  Status
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Likes
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Comments
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Shares
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Reactions
                </div>
                <div class="content">
                   10
                </div>
            </div>
            
            </div>
            <div class="contentRow">
            <div class="containerColumn">
                <div class="heading">
                    Date
                </div>
                <div class="content">
                    2017-08-11
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Message
                </div>
                <div class="content">
                   For all those curious soles having absolutely no idea what do in future. This article should help you understand how to upgrade your plan for best results :)

                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Post Type
                </div>
                <div class="content">
                  Status
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Likes
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Comments
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Shares
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Reactions
                </div>
                <div class="content">
                   10
                </div>
            </div>
            
            </div>
            </div>
        </div>
        <div class="postPopup">
            <div class="column">
                <div class="header">
                <div class="heading">
                    Demo Restaurant Page2
                </div>
            </div>
            <div class="contentRow">
            <div class="containerColumn">
                <div class="heading">
                    Date
                </div>
                <div class="content">
                    2017-08-11
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Message
                </div>
                <div class="content">
                   For all those curious soles having absolutely no idea what do in future. This article should help you understand how to upgrade your plan for best results :)

                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Post Type
                </div>
                <div class="content">
                  Status
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Likes
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Comments
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Shares
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Reactions
                </div>
                <div class="content">
                   10
                </div>
            </div>
            
            </div>
            <div class="contentRow">
            <div class="containerColumn">
                <div class="heading">
                    Date
                </div>
                <div class="content">
                    2017-08-11
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Message
                </div>
                <div class="content">
                   For all those curious soles having absolutely no idea what do in future. This article should help you understand how to upgrade your plan for best results :)

                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Post Type
                </div>
                <div class="content">
                  Status
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Likes
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Comments
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Shares
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Reactions
                </div>
                <div class="content">
                   10
                </div>
            </div>
            
            </div>
            <div class="contentRow">
            <div class="containerColumn">
                <div class="heading">
                    Date
                </div>
                <div class="content">
                    2017-08-11
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Message
                </div>
                <div class="content">
                   For all those curious soles having absolutely no idea what do in future. This article should help you understand how to upgrade your plan for best results :)

                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Post Type
                </div>
                <div class="content">
                  Status
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Likes
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Comments
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Shares
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Reactions
                </div>
                <div class="content">
                   10
                </div>
            </div>
            
            </div>
            <div class="contentRow">
            <div class="containerColumn">
                <div class="heading">
                    Date
                </div>
                <div class="content">
                    2017-08-11
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Message
                </div>
                <div class="content">
                   For all those curious soles having absolutely no idea what do in future. This article should help you understand how to upgrade your plan for best results :)

                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Post Type
                </div>
                <div class="content">
                  Status
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Likes
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Comments
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Shares
                </div>
                <div class="content">
                   10
                </div>
            </div>
            <div class="containerColumn">
                <div class="heading">
                    Reactions
                </div>
                <div class="content">
                   10
                </div>
            </div>
            
            </div>
            </div>
        </div>
    </div>-->
    <div class="mainContainer">
        <!--<div class="menuContainer">
            <div class="menuItemContainer">
                <div class="menuItem active">
                    Overview
                    <div class="option">
                        Average Rating
                    </div>
                    <div class="option">
                        Fan Count
                    </div>
                </div>
                <div class="menuItem">
                    Events
                </div>
                <div class="menuItem">
                    Posts
                </div>
                <div class="menuItem">
                    Zomato
                </div>
                <div class="menuItem">
                    TripAdvisor
                </div>
                <div class="menuItem">
                    Instagram
                </div>
            </div>
        </div>-->
        <div class="pageContainer">
            <div class="card">
                <!--<div class="topBar">
                     <div class="addButton">
                         Add Pages
                     </div>
                     <div class="legend">
                         <div class="color">
                         </div>
                         <div class="text">
                             Reactions, Comments & Shares
                         </div>
                     </div>
                 </div>-->
                <div class="columnContainer">
                    <!--<div class="fieldsBar">
                         <div class="field">
                             Page
                         </div>
                     </div>-->
                    <div class="contentRow">
                        <div class="number">
                            1
                        </div>
                        <div class="page">

                            <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/c0.0.50.50/p50x50/10615557_519351411543616_347659497323279819_n.jpg?oh=de8e3c7346925e84ab49ba387ccf4057&oe=59EF80BB"
                                class="pagePicture" alt="">
                            <div class="pageName">
                              Farzi Cafe
                            </div>
                        </div>
                    </div>
                    <div class="contentRow">
                        <div class="content">
                            4.8
                        </div>
                    </div>
                    <div class="contentRow">
                        <div class="content">
                            48K
                        </div>
                    </div>
                    <!--<div class="contentRow blank">

                    </div>-->
                    <div class="contentRow">
                        <div class="contentEvent">
                            <div class="text">
                                15 Events
                            </div>
                            <div class="stat">
                                50 Guests
                            </div>
                            <img src="../images/menu.svg" class="more" alt="">

                        </div>
                    </div>
                    <div class="contentRow">
                        <div class="contentEvent">
                            <div class="text">
                                25 Posts
                            </div>
                            <div class="stat">
                                50 Likes
                            </div>
                            <div class="stat">
                                50 Comments
                            </div>
                            <div class="stat">
                                50 Shares
                            </div>
                            <div class="stat">
                                50 Reactions
                            </div>
                            <img src="../images/menu.svg" class="more" alt="">

                        </div>
                    </div>
                    <div class="contentRow blank">
                        
                    </div>
                    <div class="contentRow">
                        <div class="content">
                            Good Restaurant
                        </div>
                    </div>
                    <div class="contentRow">
                        <div class="contentEvent">
                            <div class="text">
                                411 Reviews
                            </div>
                             <img src="../images/menu.svg" class="more" alt="">
                        </div>
                    </div>
                    <div class="contentRow">
                        <div class="content">
                            Ranked 54<sup>th</sup>
                        </div>
                    </div>
                    <div class="contentRow">
                        <div class="contentEvent">
                            <div class="text">
                                112 Reviews
                            </div>
                            <div class="stat">
                                100 positive
                            </div>
                            <div class="stat">
                                12 negative
                            </div>
                             <img src="../images/menu.svg" class="more" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>