html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #E9EBEE;
}
body {
  margin: 0px;
  padding: 0px;
}
*:focus {
  outline: none;
}
::-webkit-scrollbar {
  display: none;
}
.mainContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}
.mainContainer .mapPopup {
  position: absolute;
  height: 50rem;
  top: 50%;
  left: 50%;
  width: 50rem;
  transform: translate(-50%, -50%);
  display: none;
}
.mainContainer .mapPopup .map {
  position: absolute;
  height: 100%;
  width: 100%;
}
.mainContainer .contentOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
.mainContainer .dataLoader {
  position: absolute;
  border: 3.5px solid #efefef;
  border-radius: 50%;
  border-top-color: #b7abab;
  border-right-color: #716b6b;
  width: 9rem;
  height: 9rem;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  left: 50%;
  top: 40%;
  margin-left: -4.5rem;
  margin-top: -4.5rem;
  z-index: 3;
  display: none;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mainContainer .searchLoader {
  position: absolute;
  border: 3.5px solid #efefef;
  border-radius: 50%;
  border-top-color: #b7abab;
  border-right-color: #716b6b;
  width: 9rem;
  height: 9rem;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  left: 50%;
  top: 40%;
  margin-left: -4.5rem;
  margin-top: -4.5rem;
  z-index: 3;
  display: none;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mainContainer .overlay {
  position: absolute;
  top: 4rem;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.mainContainer .topBar {
  position: absolute;
  top: 1rem;
  height: 10rem;
  background-color: white;
  border-bottom: 0.1rem solid #D3D7DC;
  left: 2rem;
  right: 2rem;
}
.mainContainer .topBar .detailsPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 400;
  border: 0.1rem solid #D3D7DC;
  background-color: white;
  transform: translateX(-50%);
  padding: 0.5rem;
  display: none;
}
.mainContainer .topBar .logo {
  position: relative;
  float: left;
  height: 5rem;
}
.mainContainer .topBar .searchContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.mainContainer .topBar .searchField {
  position: relative;
  float: left;
  margin: 1rem;
  height: 3rem;
  width: 15rem;
  line-height: 3rem;
  color: black;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  overflow: none;
  background: transparent;
  border: 0.1rem solid #D3D7DC;
  resize: none;
  outline: none;
}
.mainContainer .topBar .optionsContainer {
  position: relative;
  float: right;
  width: 15rem;
  margin-right: 5rem;
}
.mainContainer .topBar .optionsContainer .add {
  position: relative;
  height: 5rem;
  width: 5rem;
  float: left;
}
.mainContainer .topBar .optionsContainer .add .text {
  position: absolute;
  height: 3rem;
  line-height: 3.5rem;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.mainContainer .topBar .optionsContainer .add .addRestaurant {
  position: absolute;
  top: 0.5rem;
  height: 4rem;
  left: 50%;
  transform: translateX(-50%);
}
.mainContainer .topBar .optionsContainer .refreshData {
  position: relative;
  height: 5rem;
  width: 5rem;
  float: left;
}
.mainContainer .topBar .optionsContainer .refreshData .text {
  position: absolute;
  height: 3rem;
  line-height: 3.5rem;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.mainContainer .topBar .optionsContainer .refreshData .refreshRestaurant {
  position: absolute;
  top: 0.5rem;
  height: 4rem;
  left: 50%;
  transform: translateX(-50%);
}
.mainContainer .topBar .optionsContainer .compare {
  position: relative;
  height: 5rem;
  width: 5rem;
  float: left;
}
.mainContainer .topBar .optionsContainer .compare .text {
  position: absolute;
  height: 3rem;
  line-height: 3.5rem;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.mainContainer .topBar .optionsContainer .compare .compareRestaurant {
  position: absolute;
  top: 1rem;
  height: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.mainContainer .addButton {
  position: relative;
  float: left;
  margin: 1rem;
  margin-right: 2rem;
  background-color: black;
  height: 3rem;
  line-height: 3rem;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}
.mainContainer .legend {
  position: relative;
  float: left;
  margin: 1rem;
  background-color: black;
  height: 3rem;
  line-height: 3rem;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  float: right;
  margin-left: 0;
  margin-right: 2rem;
  background-color: transparent;
}
.mainContainer .legend .color {
  position: relative;
  float: left;
  height: 2rem;
  padding-right: 0.2rem;
  background-color: pink;
  width: 2rem;
  margin-right: 0.5rem;
}
.mainContainer .legend .text {
  position: relative;
  float: right;
  color: black;
  margin-right: 0rem;
}
.pageContainer {
  position: absolute;
  top: 12rem;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
}
.pageContainer .menuTopContainer {
  position: fixed;
  left: 2rem;
  height: 4rem;
  line-height: 4rem;
  right: 2rem;
  z-index: 3;
  background-color: #E9EBEE;
}
.pageContainer .menuContainer {
  position: absolute;
  width: 16rem;
  background-color: #E9EBEE;
  top: 3rem;
  bottom: 0;
  left: 2rem;
  padding: 1rem;
}
.pageContainer .menuContainer .menuItem {
  position: relative;
  text-transform: capitalize;
  height: auto;
  padding-bottom: 0.4rem;
}
.pageContainer .menuContainer .menuItem .heading {
  position: relative;
  height: 4rem;
  line-height: 4rem;
  padding-left: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  border-bottom: 0.1rem solid;
}
.pageContainer .menuContainer .menuItem .heading .socialMediaIcon {
  position: relative;
  float: left;
  height: 2rem;
  padding-top: 1rem;
  padding-right: 0.3rem;
}
.pageContainer .menuContainer .menuItem .option {
  position: relative;
  height: 3rem;
  line-height: 3rem;
  padding-left: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
}
.pageContainer .card {
  position: absolute;
  height: 100%;
  left: 20rem;
  right: 2rem;
  overflow-x: hidden;
  white-space: nowrap;
}
.pageContainer .card .columnContainer {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 26rem;
  border-right: 0.1rem solid #D3D7DC;
}
.pageContainer .card .columnContainer .pageTopContainer {
  position: absolute;
  height: 4rem;
  line-height: 4rem;
  width: inherit;
  border-bottom: 0.1rem solid #D3D7DC;
  z-index: 3;
  background-color: #E9EBEE;
}
.pageContainer .card .columnContainer .pageTopContainer .page {
  position: relative;
  float: left;
  padding-left: 1rem;
}
.pageContainer .card .columnContainer .pageTopContainer .page .pagePicture {
  position: relative;
  padding-top: 0.5rem;
  height: 3rem;
  float: left;
}
.pageContainer .card .columnContainer .pageTopContainer .page .pageName {
  position: relative;
  float: left;
  font-size: 1.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 400;
}
.pageContainer .card .columnContainer .contentContainer {
  position: absolute;
  top: 4rem;
  bottom: 0;
  width: inherit;
}
.pageContainer .card .columnContainer .contentContainer .contentRow {
  position: relative;
  float: left;
  height: 3rem;
  line-height: 3rem;
  width: 100%;
  border-bottom: 0.1rem solid #D3D7DC;
  background-color: white;
}
.pageContainer .card .columnContainer .contentContainer .contentRow .content {
  position: relative;
  font-size: 1.4rem;
  padding-left: 1rem;
  text-align: left;
}
.pageContainer .card .columnContainer .contentContainer .contentRow .content .more {
  position: relative;
  float: right;
  padding-left: 1rem;
  height: 4rem;
  padding-top: 0.5rem;
}
.pageContainer .card .columnContainer .contentContainer .contentRow .contentEvent {
  position: relative;
  font-size: 1.4rem;
  padding-left: 1rem;
  text-align: left;
}
.pageContainer .card .columnContainer .contentContainer .contentRow .contentEvent .more {
  position: relative;
  float: right;
  padding-left: 1rem;
  height: 4rem;
  padding-top: 0.5rem;
}
.pageContainer .card .columnContainer .contentContainer .contentRow .contentEvent .option {
  position: relative;
  float: left;
}
.pageContainer .card .columnContainer .contentContainer .contentRow .contentEvent .text {
  position: relative;
  float: left;
  font-size: 1.4rem;
  font-weight: 400;
}
.pageContainer .card .columnContainer .contentContainer .contentRow .contentEvent .statsContainer {
  position: absolute;
  top: 2rem;
  height: 7rem;
}
.pageContainer .card .columnContainer .contentContainer .contentRow .contentEvent .statsContainer .stat {
  position: relative;
  padding-left: 0.2rem;
  font-size: 1.2rem;
  font-weight: 300;
  padding-left: 1rem;
  height: 2rem;
}
.pageContainer .card .columnContainer .contentContainer .contentRow .contentEvent .statsContainer .stat .text {
  position: relative;
  font-size: 1.2rem;
  font-weight: 300;
  padding-left: 1rem;
  height: 2rem;
  line-height: 2rem;
  float: left;
}
.pageContainer .card .columnContainer .contentContainer .contentRow .contentEvent .statsContainer .stat .statImage {
  position: relative;
  height: 2rem;
  float: left;
  padding-left: 0.5rem;
}
.pageContainer .card .columnContainer .contentContainer .contentRow .contentEvent .more {
  position: relative;
  float: right;
  padding-left: 1rem;
  height: 3rem;
  padding-top: 0.5rem;
}
.pageContainer .card .columnContainer .contentContainer .blank {
  height: 4rem;
}
.pageContainer .card .columnContainer .fixed {
  position: fixed;
  z-index: 3;
  background-color: white;
  width: inherit;
  height: inherit;
}
.eventPopup {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}
.eventPopup .eventContainer {
  position: absolute;
  height: 32rem;
  background-color: #fff;
  left: 15rem;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  overflow-y: scroll;
}
.eventPopup .eventContainer .dateContainer {
  position: absolute;
  width: 5rem;
  text-align: center;
  top: 0;
  bottom: 0;
}
.eventPopup .eventContainer .dateContainer .date {
  position: relative;
  float: left;
  height: 14rem;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  border-right: 0.1rem solid #D3D7DC;
}
.eventPopup .eventContainer .dateContainer .date .month {
  position: relative;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.4rem;
  color: #fa3e3e;
}
.eventPopup .eventContainer .dateContainer .date .day {
  position: relative;
  height: 2rem;
  line-height: 2rem;
  font-size: 2.4rem;
  color: black;
  font-weight: 300;
}
.eventPopup .eventContainer .dataContainer {
  position: absolute;
  left: 5rem;
  top: 0;
  bottom: 0;
  right: 0;
  white-space: nowrap;
}
.eventPopup .eventContainer .dataContainer .row {
  position: relative;
  height: 14rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  border-bottom: 0.1rem dotted #D3D7DC;
}
.eventPopup .eventContainer .dataContainer .row .dataColumn {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 26rem;
  border-right: 0.1rem solid #D3D7DC;
  white-space: normal;
}
.eventPopup .eventContainer .dataContainer .row .dataColumn .dataRow {
  position: relative;
  height: 14rem;
  font-size: 1.4rem;
}
.eventPopup .eventContainer .dataContainer .row .dataColumn .dataRow .name {
  position: relative;
  text-align: center;
  height: 4rem;
  line-height: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  overflow: hidden;
}
.eventPopup .eventContainer .dataContainer .row .dataColumn .dataRow .time {
  position: relative;
  text-align: left;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.4rem;
  font-weight: 400;
  overflow: hidden;
}
.eventPopup .eventContainer .dataContainer .row .dataColumn .dataRow .description {
  position: relative;
  height: 4rem;
  line-height: 2rem;
  font-size: 1.4rem;
  overflow: hidden;
}
.eventPopup .eventContainer .dataContainer .row .dataColumn .dataRow .stat {
  position: relative;
  float: left;
  height: 4rem;
  line-height: 2rem;
  font-size: 1.4rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}
