html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #E9EBEE;
}

body {
    margin: 0px;
    padding: 0px; // font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}

 ::-webkit-scrollbar {
    display: none;
}

.mainContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    .eventContainerBlock {
        position: absolute;
        height: 100%;
        width: 100%;
        display: none;
        .eventOverlay {
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
        }
        .eventContainer {
            position: absolute;
            width: 64rem;
            height: 35.5rem;
            overflow-y: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid;
            box-sizing: border-box;
            .customerevent {
                position: relative;
                width: 100%;
                height: auto;
                clear: both;
                border-bottom: 1px solid lightgray;
                box-sizing: border-box;
                background: white;
                display: inline-block;
                .eventTitle {
                    position: relative;
                    height: 3rem;
                    width: 100%;
                    line-height: 3rem;
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 500;
                    text-decoration: underline;
                    padding-top: 1.5rem;
                }
                .eventDate {
                    position: relative;
                    height: 2.5rem;
                    line-height: 2.5rem;
                    padding-left: 1.5rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                }
                .eventDiscription {
                    position: relative;
                    width: 100%;
                    height: auto;
                    font-size: 1.4rem;
                    text-align: justify;
                    padding: 0rem 1.2rem;
                    box-sizing: border-box;
                    margin-top: 1rem;
                }
                .event {
                    position: relative;
                    height: 2.5rem;
                    line-height: 2.5rem;
                    font-size: 1.5rem;
                    font-weight: 600;
                    padding-left: 1.5rem;
                    margin-top: 1rem;
                    box-sizing: border-box;
                    float: left;
                    &.Interested {
                        float: right;
                        padding-right: 1.5rem;
                    }
                }
            }
        }
    }
    .eventPopup {
        position: absolute;
        min-height: 30rem;
        max-height: 51rem;
        background-color: #FFFFFF;
        left: 15rem;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        overflow: scroll;
        .eventOverlay {
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
        }
        .dateContainer {
            position: absolute;
            width: 7rem;
            top: 6rem;
            height: 100%;
            .date {
                position: relative;
                float: left;
                height: 6rem;
                width: 5rem;
                text-align: center;
                .month {
                    position: relative;
                    height: 2rem;
                    line-height: 2rem;
                    font-size: 1.4rem;
                    padding-left: 0.5rem;
                    color: #fa3e3e;
                }
                .day {
                    position: relative;
                    height: 2rem;
                    line-height: 2rem;
                    font-size: 2.4rem;
                    padding-left: 0.5rem;
                    color: black;
                    font-weight: 300;
                }
            }
        }
    }
    .topBar {
        position: fixed;
        top: 1rem;
        height: 5rem;
        background-color: white;
        border-bottom: 0.1rem solid #D3D7DC;
        left: 2rem;
        right: 2rem;
        z-index: 3;
        .logo {
            position: relative;
            float: left;
            height: 5rem;
        }
        .searchContainer {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .searchField {
            position: relative;
            float: left;
            margin: 1rem;
            height: 3rem;
            width: 16rem;
            line-height: 3rem;
            color: black;
            padding-bottom: 0.1rem;
            padding-left: 1rem;
            font-size: 1.2rem;
            border-radius: 0.2rem;
            overflow: none;
            background: transparent;
            border: 0.1rem solid #D3D7DC;
            resize: none;
            outline: none;
        }
        .addButton {
            position: relative;
            float: right;
            margin-top: 1.5rem;
            margin-right: 2rem;
            background-color: #4267b2;
            height: 2rem;
            line-height: 2rem;
            color: white;
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
            padding-left: 2rem;
            padding-right: 2rem;
            font-size: 1.2rem;
            border-radius: 0.2rem;
        }
        .legend {
            .addButton();
            float: right;
            margin-left: 0;
            margin-right: 2rem;
            background-color: transparent;
            .color {
                position: relative;
                float: left;
                height: 2rem;
                padding-right: 0.2rem;
                background-color: pink;
                width: 2rem;
                margin-right: 0.5rem;
            }
            .text {
                position: relative;
                float: right;
                color: black;
                margin-right: 0rem;
            }
        }
    }
    .pageContainer {
        position: absolute;
        top: 7rem;
        bottom: 0;
        width: 100%;
        overflow-y: auto;
        .pageTopContainer {
                    position: fixed; // top: 7rem;
                    // left: 20rem;
                    height: 4rem;
                    line-height: 4rem;
                    width: inherit;
                    border-bottom: 0.1rem solid #D3D7DC;
                    z-index: 3;
                    background-color: white;
                    .page {
                        position: relative;
                        float: left;
                        padding-left: 1rem;
                        .pagePicture {
                            position: relative;
                            padding-top: 0.5rem;
                            height: 3rem;
                            float: left;
                        }
                        .pageName {
                            position: relative;
                            float: left;
                            font-size: 1.4rem;
                            padding-left: 3rem;
                            padding-right: 1rem;
                            font-weight: 400;
                        }
                    }
                }
        .menuContainer {
            position: absolute;
            width: 16rem;
            background-color: #E9EBEE;
            top: 3rem;
            bottom: 0;
            left: 2rem;
            padding: 1rem;
            .menuItem {
                position: relative;
                text-transform: capitalize;
                height: auto;
                padding-bottom: 0.4rem;
                .heading {
                    position: relative;
                    height: 3rem;
                    line-height: 3rem;
                    padding-left: 1rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    border-bottom: 0.1rem solid;
                }
                .option {
                    position: relative;
                    height: 4rem;
                    line-height: 4rem;
                    padding-left: 1rem;
                    font-size: 1.4rem;
                    font-weight: 300;
                }
            }
            .active {
                border-left: 0.4rem solid #4267b2;
            }
        }
        .card {
            position: absolute;
            height: 100%;
            left: 20rem;
            background-color: white !important;
            display: flex;
            .columnContainer {
                position: relative;
                float: left;
                height: 100%;
                width: 48rem;
                border-right: 0.1rem solid #D3D7DC;
                .pageTopContainer {
                    position: fixed; // top: 7rem;
                    // left: 20rem;
                    height: 4rem;
                    line-height: 4rem;
                    width: inherit;
                    border-bottom: 0.1rem solid #D3D7DC;
                    z-index: 3;
                    background-color: white;
                    .page {
                        position: relative;
                        float: left;
                        padding-left: 1rem;
                        .pagePicture {
                            position: relative;
                            padding-top: 0.5rem;
                            height: 3rem;
                            float: left;
                        }
                        .pageName {
                            position: relative;
                            float: left;
                            font-size: 1.4rem;
                            padding-left: 1rem;
                            padding-right: 1rem;
                        }
                    }
                }
                .contentContainer {
                    position: absolute;
                    top: 4rem;
                    bottom: 0;
                    width: inherit;
                    .contentRow {
                        position: relative;
                        float: left;
                        height: 4rem;
                        line-height: 4rem;
                        width: 100%;
                        border-bottom: 0.1rem solid #D3D7DC;
                        background-color: white;
                        .content {
                            position: relative;
                            font-size: 1.4rem;
                            padding-left: 1rem;
                            text-align: left;
                            .more {
                                position: relative;
                                float: left;
                                padding-left: 1rem;
                                height: 4rem;
                                padding-top: 0.5rem;
                            }
                            .option {
                                position: relative;
                                float: left;
                            }
                        }
                        .contentEvent {
                            .content();
                            .option {
                                position: relative;
                                float: left;
                            }
                            .text {
                                position: relative;
                                float: left;
                                font-size: 1.8rem;
                                font-weight: 400;
                            }
                            .stat {
                                position: relative;
                                float: left;
                                padding-top: 0.6rem;
                                padding-left: 0.2rem;
                                font-size: 1.4rem;
                                font-weight: 300;
                                padding-left: 1rem;
                            }
                            .more {
                                position: relative;
                                float: left;
                                padding-left: 1rem;
                                height: 3rem;
                                padding-top: 0.5rem;
                            }
                        }
                    }
                    .blank {
                        height: 3rem;
                    }
                }
                .fixed {
                    position: fixed;
                    z-index: 3;
                    background-color: white;
                    width: inherit;
                    height: inherit;
                }
            }
        }
    }
}