<html>

<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width = device-width, initial-scale = 0, user-scalable = no, minimum-scale = 1, maximum-scale = 1">
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />

    <title>Review</title>
    <link href="../css/index.css" rel="stylesheet" type="text/css">
    <link href="../css/fonts.css" rel="stylesheet" type="text/css">
    <link href="../css/screen.css" rel="stylesheet" type="text/css">

    <!-- <script src="/socket.io/socket.io.js"></script> -->
</head>

<body>
    <div class="mainContainer">


        <!-- <div class="leftPanel">
            <div class="features">
                <div class="feature">ranking</div>
                <div class="feature">rating</div>
                <div class="feature">reviews</div>
                <div class="feature">apc</div>
                <div class="feature">cuisines</div>
                <div class="feature">price range</div>
                <div class="feature">votes</div>
                <div class="feature">rating text</div>
                <div class="feature reviewButton">user review's</div>
            </div>
        </div>
        <div class="rightPanel">

            <div class="column">
                <div class="header">trend</div>
                <div class="features">
                    <div class="feature ranking">1</div>
                    <div class="feature rating">4.5</div>

                    <div class="feature reviews"> 99999</div>
                    <div class="feature apc">555</div>
                    <div class="feature cuisines"> European, North Indian, Salad</div>
                    <div class="feature priceRange">1056</div>
                    <div class="feature votes">8456</div>
                    <div class="feature text">Excellent</div>
                </div>
            </div>

            <div class="column">
                <div class="header">masala house</div>
                <div class="features">
                    <div class="feature ranking">5</div>
                    <div class="feature rating">4</div>

                    <div class="feature reviews"> 845</div>
                    <div class="feature apc">525</div>
                    <div class="feature cuisines"> European, italian, south indian</div>
                    <div class="feature priceRange">654</div>
                    <div class="feature votes">84</div>
                    <div class="feature text">very good</div>
                </div>
            </div>

          
        </div> -->



        <div class="contentContainer">
            <div class="row">
                <div class="caption"> Enter User Key:</div>
                <input type="text" class="key value" placeholder="key" value="64a15965a23b35c5f3bcd258c4b75e56">
            </div>
            <div class="row">
                <div class="caption">Enter restaurant Name:</div>
                <input type="text" class="restaurantName value" placeholder="Name">
            </div>
            <div class="button">search</div>
        </div>

    </div>

</body>


<!--LIST TEMPLATE-->

<script id="reviewTemplate" type="text/x-jsrender">
    <div class="reviewOverlay"></div>
    <div class="reviewContainer">
        {^{for user_reviews}}
        <div class="customerReview">
            <div class="customerName"> {{:review.user.name}}</div>

            <div class="customerImage" style="background-image:url({{:review.user.profile_image}})"></div>
            <div class="rating">Rated: {{:review.rating}}</div>
            <div class="reviewText">
                {{:review.review_text}}</div>
        </div>
        {{/for}}
    </div>
</script>






<script id="emptyTemplate" type="text/x-jsrender">
    <div class="emptyContainer">
        <div class="header">{{:name}} reviews</div>
        <img src="../images/review.png" class="reviewImage">
        <div class="emptyText">
            No review record's found</div>
    </div>
</script>

<script id="restaurantsTemplate" type="text/x-jsrender">



    <div class="leftPanel">
        <div class="features">
            <div class="feature">ranking</div>
            <div class="feature">rating</div>
            <div class="feature">reviews</div>
            <div class="feature">apc</div>
            <div class="feature">cuisines</div>
            <div class="feature">price range</div>
            <div class="feature">votes</div>
            <div class="feature">rating text</div>
            <div class="feature reviewButton">user review's</div>
        </div>
    </div>
    <div class="rightPanel">
        {^{for restaurants}}
        <div class="column">
            <div class="header">{{:restaurant.name}}</div>
            <div class="features">

                <div class="feature ranking">5</div>
                <div class="feature rating">{{:restaurant.user_rating.aggregate_rating}}</div>
                <div class="feature reviews"> 845</div>
                <div class="feature apc"> {{:restaurant.average_cost_for_two}}</div>
                <div class="feature cuisines"> {{:restaurant.cuisines}}</div>
                <div class="feature priceRange"> {{:restaurant.price_range}}</div>
                <div class="feature votes">{{:restaurant.user_rating.votes}}</div>
                <div class="feature text">{{:restaurant.user_rating.rating_text}}</div>
                <div class="feature userReview" data-id={{:restaurant.id}}>Click for review</div>

            </div>
        </div>
        {{/for}}
        <div class="addButton">+</div>
    </div>


    <div class="reviewContainerBlock"></div>

</script>


<script src="../scripts/jquery.js"></script>
<script src="../scripts/jsrender.js"></script>
<script src="../scripts/jsview.js"></script>
<script src="../scripts/transit.js"></script>
<script src="../js/base.js"></script>
<script src="../js/index.js"></script>

</html>